*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* CABEÇALHO */
header{
    background-color: mediumvioletred;
    max-width: 100%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;
}

#imagem_header{
    max-width: 2vw;
    height: auto;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 8vw;
    
}

header button{
    text-align: center;
    width: 5rem;
    height: auto;
}


/* CORPO */
#primeira_sessao{
    display: flex;
    flex-direction: row;

    
    max-width: 100%;
}

main{
    background-color: blue;
    height: 83vh;
    width: 80%;
}

aside{
    background-color: brown;
    height: 83vh;
    width: 20%;
}


/* RODAPÉ */
footer{
    background-color: mediumvioletred;
    max-width: 100%;
    height: 8vh;
}

